# Telephone Directory CRUD Operation

Connected to MongDB server

In [15]:
# NOTE:
# INSTRUCTIONS TO EXECUTE CODE
# For proper working of all the code snippets , please execute one by one EXACTLY once
# because every code is depends on the previous code
# If you want to execute more than once then please change the databasename from TelephoneDatabase 
# to some other name, otherwise it will get duplication errors

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")   # connected to MongDB server
db = client["TelephoneDatabase2"]                              # database is created

# 1 CREATE

Collection is created with mandatory fields
        
        Name: String
        Phone_no: String that accepts only 10 digit number
        Place: String
        Pincode: String that acceps only 5 digit number
        Voilation of any of the above validations will raise a writeError

In [4]:
result= db.create_collection("TelephoneDirectory1", 
       validator= {
        "$jsonSchema": {
         "bsonType": "object",
         "title": "Telephone Directory CRUD Operation",
         "required": [ "name","phone_no","place","pincode" ],
         "properties": {
             "place": {
               "bsonType": "string",
               "description": "'place' must be a string and is required"
            },
            "name": {
               "bsonType": "string",
               "description": "'name' must be a string and is required"
            },
            "pincode": {
              "bsonType": "string",
                "pattern": "\\A[0-9]{5}\\z",
                "description": "pincode should be 5 digit"
                
             },
            "phone_no":{
              "bsonType": "string",
              "pattern": "\\A[0-9]{10}\\z",
                "description": "phone number should be 10 digit"
             }
                 }
              }
           }
         )    
print(result)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'TelephoneDatabase2'), 'TelephoneDirectory1')

#  2 INSERT

        insert_one(): Will insert one document at a time
        insert_many(): Will insert more than one document at a time

In [5]:
dic={
   "name": "Aditya",
    "phone_no":"9133221239",
    "place":"kakinada",
    "pincode" :'15545'
}   
result.insert_one(dic)
for each in result.find():
    print(each)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}

In [6]:
mylist = [{"name": "Rishi","phone_no":"9133221239","place":"kakinada","pincode" :'15545'},
          {"name": "Arun","phone_no":"9133771239","place":"Rajahmundary","pincode" :'12542'},
          {"name": "kundavai","phone_no":"9563221239","place":"pithapuram","pincode" :'56545'},
          {"name": "Nanadini","phone_no":"9132621239","place":"Tripura","pincode" :'10045'},
          {"name": "vrinda","phone_no":"9124621239","place":"Chennai","pincode" :'10045'},
          {"name": "Hari","phone_no":"9563221239","place":"pithapuram","pincode" :'56545'},
          {"name": "Nihar","phone_no":"5648921239","place":"Chennai","pincode" :'10745'},
          {"name": "Leela","phone_no":"9124648520","place":"Chennai","pincode" :'10745'}
         ]
y = result.insert_many(mylist)
for each in result.find():
    print(each)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d0'), 'name': 'Rishi', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d1'), 'name': 'Arun', 'phone_no': '9133771239', 'place': 'Rajahmundary', 'pincode': '12542'}
{'_id': ObjectId('63a337cc8d8f34c9538170d2'), 'name': 'kundavai', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d3'), 'name': 'Nanadini', 'phone_no': '9132621239', 'place': 'Tripura', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d4'), 'name': 'vrinda', 'phone_no': '9124621239', 'place': 'Chennai', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d5'), 'name': 'Hari', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d6'), 'name': 'Nihar', 'phone_no': '5648921239', 'place': 'Chennai', 'pincode': '10745'}
{'_id': ObjectId('63a337cc8d8f34c9538170d7'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'Chennai', 'pincode': '10745'}

# 3 READ

In [7]:
# Read every document from the collection and prints it
for x in result.find():
    print(x)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d0'), 'name': 'Rishi', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d1'), 'name': 'Arun', 'phone_no': '9133771239', 'place': 'Rajahmundary', 'pincode': '12542'}
{'_id': ObjectId('63a337cc8d8f34c9538170d2'), 'name': 'kundavai', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d3'), 'name': 'Nanadini', 'phone_no': '9132621239', 'place': 'Tripura', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d4'), 'name': 'vrinda', 'phone_no': '9124621239', 'place': 'Chennai', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d5'), 'name': 'Hari', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d6'), 'name': 'Nihar', 'phone_no': '5648921239', 'place': 'Chennai', 'pincode': '10745'}
{'_id': ObjectId('63a337cc8d8f34c9538170d7'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'Chennai', 'pincode': '10745'}

In [8]:
myquery = { "place":  { "$regex": "^k" } } 
mydoc = result.find(myquery)  # it will return all the documents in which place is starting with 'k'
for x in mydoc:
    print(x)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d0'), 'name': 'Rishi', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}

In [9]:
myquery={"$and":[{"name":"Aditya"},{"place":"kakinada"}]}
mydoc = result.find(myquery)  # it will return all the documents in which name is Aditya& place is kakinada
for x in mydoc:
    print(x)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}

# UPDATE

        update_one(): Will update only first occurence of matched document 
        update_many(): Will update all the occurences of the matched documents

In [10]:
query = { "place": "Chennai" }
update = { "$set": { "place": "Tripura" } } # it will replace the first ocuurence 

result.update_one(query, update)

for x in result.find():
    print(x)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d0'), 'name': 'Rishi', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d1'), 'name': 'Arun', 'phone_no': '9133771239', 'place': 'Rajahmundary', 'pincode': '12542'}
{'_id': ObjectId('63a337cc8d8f34c9538170d2'), 'name': 'kundavai', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d3'), 'name': 'Nanadini', 'phone_no': '9132621239', 'place': 'Tripura', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d4'), 'name': 'vrinda', 'phone_no': '9124621239', 'place': 'Tripura', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d5'), 'name': 'Hari', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d6'), 'name': 'Nihar', 'phone_no': '5648921239', 'place': 'Chennai', 'pincode': '10745'}
{'_id': ObjectId('63a337cc8d8f34c9538170d7'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'Chennai', 'pincode': '10745'}

In [11]:
query = { "place": "Chennai" }
update = { "$set": { "place": "Tripura" } } # it will replace all ocuurences

result.update_many(query, update)

for x in result.find():
    print(x)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d0'), 'name': 'Rishi', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d1'), 'name': 'Arun', 'phone_no': '9133771239', 'place': 'Rajahmundary', 'pincode': '12542'}
{'_id': ObjectId('63a337cc8d8f34c9538170d2'), 'name': 'kundavai', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d3'), 'name': 'Nanadini', 'phone_no': '9132621239', 'place': 'Tripura', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d4'), 'name': 'vrinda', 'phone_no': '9124621239', 'place': 'Tripura', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d5'), 'name': 'Hari', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d6'), 'name': 'Nihar', 'phone_no': '5648921239', 'place': 'Tripura', 'pincode': '10745'}
{'_id': ObjectId('63a337cc8d8f34c9538170d7'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'Tripura', 'pincode': '10745'}

# DELETE

        delete_one(): Will delete only first occurence of matched documents
        delete_many(): Will delete all the occurences of matched documents 
        delete_many({}): Will delete all documents if condition is empty

In [12]:
myquery = { "place": "Tripura" }

result.delete_one(myquery)
for x in result.find():
    print(x)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d0'), 'name': 'Rishi', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d1'), 'name': 'Arun', 'phone_no': '9133771239', 'place': 'Rajahmundary', 'pincode': '12542'}
{'_id': ObjectId('63a337cc8d8f34c9538170d2'), 'name': 'kundavai', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d4'), 'name': 'vrinda', 'phone_no': '9124621239', 'place': 'Tripura', 'pincode': '10045'}
{'_id': ObjectId('63a337cc8d8f34c9538170d5'), 'name': 'Hari', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d6'), 'name': 'Nihar', 'phone_no': '5648921239', 'place': 'Tripura', 'pincode': '10745'}
{'_id': ObjectId('63a337cc8d8f34c9538170d7'), 'name': 'Leela', 'phone_no': '9124648520', 'place': 'Tripura', 'pincode': '10745'}

In [13]:
myquery = { "place": "Tripura" }

result.delete_many(myquery)
for x in result.find():
    print(x)

{'_id': ObjectId('63a337bb8d8f34c9538170cf'), 'name': 'Aditya', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d0'), 'name': 'Rishi', 'phone_no': '9133221239', 'place': 'kakinada', 'pincode': '15545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d1'), 'name': 'Arun', 'phone_no': '9133771239', 'place': 'Rajahmundary', 'pincode': '12542'}
{'_id': ObjectId('63a337cc8d8f34c9538170d2'), 'name': 'kundavai', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}
{'_id': ObjectId('63a337cc8d8f34c9538170d5'), 'name': 'Hari', 'phone_no': '9563221239', 'place': 'pithapuram', 'pincode': '56545'}

In [14]:
result.delete_many({})
for x in result.find():
    print(x)